html,
body,
#primary {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
}



div#head_bottom_con {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    align-items: center;

}

#textbox {
    appearance: none;
    display: inline-block;
    width: 100%;
    line-height: 1.4em;
    outline: none;
    border: none;
    padding: 38px;
    border-radius: 8px;
    font-family: "Inter Medium", Inter, Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 24px;
    background: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
    box-shadow: rgb(238, 68, 68) 0px 0px 0px 1px inset;
}


div#head_bottom_con2 {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);

}

div#head_bottom_con3 {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
    align-items: center;
    /* width: 250px; 
    color: black;
    */
    padding-top: 5px;
}


.tertiary {
    /*  */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: center;
    overflow: hidden;
    padding: 0;

}

#button_sub_bottom {
    appearance: none;
    display: inline-block;
    width: 100%;
    line-height: 1.4em;
    outline: none;
    border: none;
    height: 100%;
    border-radius: 8px;
    padding: 15px;
    font-family: "Inter Medium", Inter, Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    font-size: 20px;
    background: rgb(34, 34, 34);
    cursor: pointer;
    color: rgb(255, 255, 255);
    z-index: 1;
    opacity: 1;
}


.firstRow {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0px;
    height: 110vh;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}




.firstCol {
    align-content: left;
    align-items: left;
    align-self: stretch;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: auto;
    justify-content: center;
    overflow: hidden;
    padding-left: 3vw;
    position: relative;
    width: 39vw;
}

.secondCol {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    /* gap: 20px; */
    height: 100%;
    justify-content: center;
    padding: 3px;
    position: relative;
    width: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.contents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    max-width: 1996px;
    padding-left: 0;
    width: 754px;
    background-color: rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(15px);
}

h1#title {
    color: red;
    flex: none;
    height: auto;
    overflow: visible;
    position: relative;
    white-space: pre-wrap;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}

.subText {
    outline: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}


h2#subTitle {
    font-family: var(font-family, Inter, Inter Placeholder, sans-serif);
    font-style: var(font-style, normal);
    font-weight: var(font-weight, 400);
    color: var(text-color, #000);
    font-size: calc(var(-font-size, 16px) * var(font-size-scale, 1));
    letter-spacing: var(letter-spacing, 0);
    text-transform: var(text-transform, none);
    text-decoration: var(text-decoration, none);
    line-height: var(line-height, 1.2em);
    text-align: var(text-alignment, start);
}

#sst {
    font-family: 'Work Sans';
    font-size: 26px;
    font-weight: 300;
    line-height: 42px;
    vertical-align: baseline;
    letter-spacing: 0.5px;
    word-spacing: -1px;
    color: rgb(255, 255, 255);
    width: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
}

.btn1 {
    align-content: center;
    align-items: center;
    background-color: rgb(218, 27, 3);
    border-radius: 8px;
    box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026, 0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025, 0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023, 0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020, 0 13.646761411524492px 13.646761411524492px -3.125px #0000001b, 0 30px 30px -3.75px #0000000d;
    height: 60px;
    width: fit-content;
    padding: 0px;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.btn1-text {
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-top: 14px;
    margin-left: 4px;
    font-family: 'Work Sans';
    padding: 10px;
    content: "Claim Exclusive Access";
    letter-spacing: 2px;
}

/* old */
/* .btn2 {
    border-radius: 11px;
    height: 60px;
    width: fit-content;
    cursor: hand;
    padding: 9px;
    background: transparent;
    border: 2px solid white;
} */

/* new */
.btn2 {
    border-radius: 11px;
    height: 60px;
    width: fit-content;
    display: flex;
    cursor: hand;
    justify-content: center;
    padding: 0px;
    background: transparent;
    border: 2px solid white;
}


/* old */
/* .btn2-text {
    font-family: 'Work Sans';
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin-top: 0.5vh;
    margin-left: 0vh;
    align-items: center;
    padding-right: 3vh;
    padding-left: 3vh;
    cursor: pointer;
    content: "Services";
    justify-content: center;
} */
/* new */
.btn2-text {
    font-family: 'Work Sans';
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin-top: -33px;
    margin-left: 4px;
    align-items: center;
    /* padding-right: 3vh; */
    /* padding-left: 3vh; */
    padding: 46px;
    cursor: pointer;
    content: "Services";
    justify-content: center;
}


.secondRow {
    background-color: #b41601;
    cursor: pointer;
    padding: 4vh;
    height: fit-content;
    padding-left: 1vw;
}

.titleHeader {
    font-size: 13px;
    font-weight: bold;
    font-family: 'Work Sans';
    color: rgb(240, 240, 240);
}


#ppt {
    font-family: 'Chela One';
    font-size: 130px;
    font-weight: 600;
    letter-spacing: 4px;
    align-items: left;
    color: rgb(218, 27, 3);
    margin: 0px;
    padding: 0px;
}

#top_header {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}


input::placeholder {
    color: grey;
}

.btn1-text::before {
    content: attr(data-original-text);
}

.btn2-text::before {
    content: attr(data-original-text);
}

@media (max-width: 808px) {
    .btn1-text::before {
        content: "Get Started";
        width: 100%;
    }

    .btn2-text::before {
        content: "Learn More";
        color: white;
        width: 100%;
        height: max-content;
        display: block;
    }


}


@media only screen and (max-width: 1200px) {
    .firstRow {
        height: 48vh;
    }

    #ppt {
        font-size: 40px;
    }

    .secondRow {
        display: flex;
    }


    /* #after_ {
        display: inline-block;
    }

    #before_ {
        display: none;
    } */




}

/* #after_ {
    display: none;
} */

@media only screen and (max-width : 808px) {

    .secondCol {
        display: none;
    }

    .firstCol {
        background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("./disp.png");
        background-size: cover;

    }

    .top_header {
        align-items: center;
    }

    #sst {
        color: white
    }

    .btn2 {
        background-color: rgba(182, 176, 176, 0.5);

    }

    .btn1 {
        background-color: white;
    }

    .btn1-text {
        color: black;
    }


}


.firstRow {
    background-image: url('./background.png');

    background-size: cover;
    background-position: top;
    position: relative;

}

#lastRow {
    background-image: url(./newDog.png);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 83vh;
    padding: 20px;
    /* padding-right: ; */
    margin-bottom: 0px;
    flex-direction: row;

}

.forms {
    padding-left: 1vw;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    width: 477px;
    padding-top: 1px;
    padding-right: 1vw;
}

/* .emptyBox {
    width: 20vw;
} */

.contents {
    color: white;
    text-align: left;
    padding: 130px;

}

.rowTitles {
    padding-left: 35px;
    font-size: 42px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: auto;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-family: Work Sans;
}

.icons {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    padding-left: 27px;
}

.titleServices {

    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Work Sans';

}

#thirdRow {
    background-color: rgb(8, 49, 66);
    cursor: pointer;
    padding: 4vh;
    height: fit-content;
    padding-left: 1vw;
}

.texts1 {
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: 'Work Sans';
    word-spacing: 1.5px;
    letter-spacing: 0.4px;
}

.texts2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Work Sans';
    letter-spacing: 1.4px;
    word-spacing: 1.2px;
}

.titleServices_1 {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    font-size: 30px;
    justify-content: space-between;
    padding-left: 209px;
    padding-right: 238px;
}

.tite {

    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 5%;
    justify-content: center;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    width: 100px;
}

.head {

    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    height: 110vh;
    justify-content: center;
    overflow: hidden;
    padding: 0;


}

.contents2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: 113%;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    padding-left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(15px);
}

.lastBackground {
    height: 65vh;
}

.lastBackgroundRow {
    flex-direction: row;
}

.lastBackgroundCol {
    flex-direction: column;

}

.contactUs {
    background-color: rgb(180, 22, 1);
    height: 9vh;
}




h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(180, 22, 1);
}

.form-group {
    margin-bottom: 12px;
    font-family: 'Work Sans';
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 101%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2.5px solid rgb(180, 22, 1);
    border-radius: 11px;
    height: 44px;
}

#petBreedContainer {
    flex: 1;
    margin-left: 20px;

}

input[type="checkbox"] {
    margin-top: 5px;
}


input[type="submit"] {
    background-color: rgb(180, 22, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 46px;
}


input[type="submit"]:hover {
    background-color: darkred;

}

.logo-small {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.logo-small img {
    width: 25px;
    height: 25px;
}

.claim-form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 0px;

}

.claim-button {
    display: inline-block;
    width: 100%;
}

.input-field {
    width: 348px;
    height: 76px;
    border: 2px solid rgb(180, 22, 1);
    padding: 15px;
    font-size: 20px;
    color: rgb(180, 22, 1);
    border-radius: 14px;
}

.claim-submit {
    width: 280px;
    height: 71px;
    background-color: rgb(34, 34, 34);
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    margin: 0px;
}


.footer {
    text-align: center;
    padding: 2vh;
    height: 6vh;
    background-color: rgb(180, 22, 1);
}

.socials {
    display: flex;
    display: inline-block;
    align-items: flex;
    /* align-items: center; */
}

/* .socials a {
    text-decoration: none;
    margin: 0 10px;
} */

.social-icon {
    width: 20px;
    margin: 0px 10px;
    vertical-align: middle;
}

.social-icon :hover {
    opacity: 0.7;
}

.services {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.servicesdetails {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.whyCol {
    flex-direction: column;
}

.servicesdetails2 {
    flex: 1;
    margin: 11px;
    text-align: center;
    padding: 8px;
}

/* .chat-button {
    position: fixed;
    bottom: 20px;

    right: 20px;

    background-color: #007bff;

    color: #fff;

    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-form-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 18px;
    padding: 20px;
    display: none;

    z-index: 9998;
} */

#lastRow .lastRowWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 172px;
}

#lastRow .launchingSoon {
    flex: 1;

    text-align: left;
    flex-direction: column;
    display: flex;
}

#dog {
    height: 411px;
    width: 307px;
}

#launchingText {
    font-family: "Work Sans";
    font-size: 41px;
    font-weight: 900;
    color: rgb(8, 49, 66);
}
